<div class="container py-5">
    <div class="container py-5">
    <div class="main-hd">
        <h4 class="hd">OUR PET CARE SERVICES</h4>
    </div>
    <div class="container servs">
        <div class="row rows">
            <div class="col-6 col-lg-6 col-xs-12 col-sm-12">
                <div class="card service">
                    <div class="row">
                        <div class="col-4 p-5 logos">
                            <img class="logo" src="../../assets/imgs/logo1.png" alt="image">
                        </div>
                        <div class="col-8">
                            <div class="card-title">
                                <h5 class="glow">PET BOARDING</h5>
                            </div>
                            <div class="card-content">
                                Experience worry-free travel knowing your beloved pet is in safe hands with our
                                premier pet boarding service.Our dedicated team provides comfortable accommodations
                                and personalized care.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-6 col-xs-12 col-sm-12">
                <div class="card service">
                    <div class="row">
                        <div class="col-4 p-5 logos">
                            <img class="logo" src="../../assets/imgs/logo2.png" alt="image">
                        </div>
                        <div class="col-8">
                            <div class="card-title">
                                <h5 class="glow">PET FEEDING</h5>
                            </div>
                            <div class="card-content">
                                Ensure your pet's well-being even in your absence with our reliable pet feeding
                                service. Our experienced caregivers will provide nourishing and quality meals and
                                companionship.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row rows">
            <div class="col-6 col-lg-6 col-xs-12 col-sm-12">
                <div class="card service">
                    <div class="row">
                        <div class="col-4 p-5 logos">
                            <img class="logo" src="../../assets/imgs/logo3.png" alt="image">
                        </div>
                        <div class="col-8">
                            <div class="card-title">
                                <h5 class="glow">PET GROOMING</h5>
                            </div>
                            <div class="card-content">
                                Transform your pet into a pampered masterpiece with our top-notch pet grooming
                                service.
                                From stylish cuts to luxurious baths, our skilled groomers will leave your furry
                                friend
                                looking.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-6 col-xs-12 col-sm-12">
                <div class="card service">
                    <div class="row"> 
                        <div class="col-4 p-5 logos">
                            <img class="logo" src="../../assets/imgs/logo4.png" alt="image">
                        </div>
                        <div class="col-8">
                            <div class="card-title">
                                <h5 class="glow">PET TRAINING</h5>
                            </div>
                            <div class="card-content">
                                Unleash your pet's full potential with our expert pet training service. Our
                                certified trainers employ positive techniques to cultivate good behavior, creating a
                                strong bond between you and your companion.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>