<div class="conainer py-5">
    <div class="container py-5">
    <div class="row gx-5 main py-4">
        <div class="col-lg-5">
            <img src="../../assets/about_dog1.jpg" alt="two_dogs" height="100%" width="100%">
        </div>
        <div class="col-lg-7">
            <div class="col-lg-12 main2">
                <p class="b"> ABOUT US </p>
                <h1 class="display-5 text-uppercase mb-0"> WE KEEP YOUR PETS HAPPY ALL TIME </h1>
            </div>
            <br>
            <div class="col-lg-12">
                <h4>Diam dolor diam ipsum tempor sit. Clita erat ipsum et lorem stet no labore lorem sit clita duo justo magna dolore</h4>
            </div>
            <br>
            <div class="col-md-auto bcard">
                <button type="button" (click)="get1();" class="col-lg-6 col-md-6 col-sm-6 col-6"> OUR MISSION </button>
                <button type="button" (click)="get2();" class="col-lg-6 col-md-6 col-sm-6 col-6"> OUR VISION </button>
                <div *ngIf=!val class="content" class="col-md-auto">
                    ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD
                    ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD
                    ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD
                    ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD ABCD
                </div>
                <div *ngIf=val class="content" class="c0l-md-auto">
                    EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH
                    EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH
                    EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH
                    EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH EFGH
                </div>
            </div>
        </div>
    </div>
    </div>
</div>