<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&amp;display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link href="./products.component.css">
</head>
<body>
    <div class="container py-5">
        <div class="container py-5">
            <div class="main-hd">
                <h4 class="hd">OUR PET CARE SERVICES</h4>
            </div>
        </div>
    <div class="container bd">
        <div align="center">
            <h4 class="heading">Trending</h4> 
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
                <div class="container item">
                    <div class="card">
                        <div class="img-dog">
                            <img class="card-img" src="../../assets/imgs/dog-1.jpg" alt="image">
                        </div>
                        <div class="card-title" align="center">
                            <span class="dog-name">Indian Spitz</span>
                        </div>
                        <div class="price" align="center">
                            <span>Price : </span> &#8377; 8000 /-
                        </div>
                        <div class="cart" align="center">
                            <button class="cart-2" type="button"><a href="#" class="cart-btn">ADD TO CART</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
                <div class="container item">
                    <div class="card">
                        <div class="img-dog">
                            <img class="card-img" src="../../assets/imgs/dog-2.jpg" alt="image">
                        </div>
                        <div class="card-title" align="center">
                            <span class="dog-name">Doberman</span>
                        </div>
                        <div class="price" align="center">
                            <span>Price : </span> &#8377; 15000 /-
                        </div>
                        <div class="cart" align="center">
                            <button class="cart-2"><a href="#" class="cart-btn">ADD TO CART</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
                <div class="container item">
                    <div class="card">
                        <div class="img-dog">
                            <img class="card-img" src="../../assets/imgs/dog-3.jpg" alt="image">
                        </div>
                        <div class="card-title" align="center">
                            <span class="dog-name">Pomeranian</span>
                        </div>
                        <div class="price" align="center">
                            <span>Price : </span> &#8377; 9000 /-
                        </div>
                        <div class="cart" align="center">
                            <button class="cart-2"><a href="#" class="cart-btn">ADD TO CART</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
                <div class="container item">
                    <div class="card">
                        <div class="img-dog">
                            <img class="card-img" src="../../assets/imgs/dog-4.jpg" alt="image">
                        </div>
                        <div class="card-title" align="center">
                            <span class="dog-name">Pug</span>
                        </div>
                        <div class="price" align="center">
                            <span>Price : </span> &#8377; 16000 /-
                        </div>
                        <div class="cart" align="center">
                            <button class="cart-2"><a href="#" class="cart-btn">ADD TO CART</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-sm-12  col-md-6">
                <div class="container item">
                    <div class="card">
                        <div class="img-dog">
                            <img class="card-img" src="../../assets/imgs/dog-5.jpg" alt="image">
                        </div>
                        <div class="card-title" align="center">
                            <span class="dog-name">English Cocker Spaniel</span>
                        </div>
                        <div class="price" align="center">
                            <span>Price : </span> &#8377; 16000 /-
                        </div>
                        <div class="cart" align="center">
                            <button class="cart-2"><a href="#" class="cart-btn">ADD TO CART</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-sm-12  col-md-6">
                <div class="container item">
                    <div class="card">
                        <div class="img-dog">
                            <img class="card-img" src="../../assets/imgs/dog-6.jpg" alt="image">
                        </div>
                        <div class="card-title" align="center">
                            <span class="dog-name">Boxer</span>
                        </div>
                        <div class="price" align="center">
                            <span>Price : </span> &#8377; 22000 /-
                        </div>
                        <div class="cart" align="center">
                            <button class="cart-2"><a href="#" class="cart-btn">ADD TO CART</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div align="center">
            <h4 class="heading">Puppies</h4>
        </div>
        <div class="row">   
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
                <div class="container item">
                    <div class="card">
                        <div class="img-dog">
                            <img class="card-img" src="../../assets/imgs/Chowchow.jpg" alt="image">
                        </div>
                        <div class="card-title" align="center">
                            <span class="dog-name">Chowchow</span>
                        </div>
                        <div class="price" align="center">
                            <span>Price : </span> &#8377; 300000 /-
                        </div>
                        <div class="cart" align="center">
                            <button class="cart-2"><a href="#" class="cart-btn">ADD TO CART</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
                <div class="container item">
                    <div class="card">
                        <div class="img-dog">
                            <img class="card-img" src="../../assets/imgs/Maltese-Dog.jpg" alt="image">
                        </div>
                        <div class="card-title" align="center">
                            <span class="dog-name">Maltese-Dog</span>
                        </div>
                        <div class="price" align="center">
                            <span>Price : </span> &#8377; 110000 /-
                        </div>
                        <div class="cart" align="center">
                            <button class="cart-2"><a href="#" class="cart-btn">ADD TO CART</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
                <div class="container item">
                    <div class="card">
                        <div class="img-dog">
                            <img class="card-img" src="../../assets/imgs/Cavalier.jpg" alt="image">
                        </div>
                        <div class="card-title" align="center">
                            <span class="dog-name">Cavalier King Charles Spaniel</span>
                        </div>
                        <div class="price" align="center">
                            <span>Price : </span> &#8377; 88000 /-
                        </div>
                        <div class="cart" align="center">
                            <button class="cart-2"><a href="#" class="cart-btn">ADD TO CART</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div align="center">
            <h4 class="heading">Trained Dogs</h4>
        </div>
        <div class="row">   
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
                <div class="container item">
                    <div class="card">
                        <div class="img-dog">
                            <img class="card-img" src="../../assets/imgs/dog-7.jpg" alt="image">
                        </div>
                        <div class="card-title" align="center">
                            <span class="dog-name">Wire Haired Dachshund</span>
                        </div>
                        <div class="price" align="center">
                            <span>Price : </span> &#8377; 38000 /-
                        </div>
                        <div class="cart" align="center">
                            <button class="cart-2"><a href="#" class="cart-btn">ADD TO CART</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
                <div class="container item">
                    <div class="card">
                        <div class="img-dog">
                            <img class="card-img" src="../../assets/imgs/dog-8.jpg" alt="image">
                        </div>
                        <div class="card-title" align="center">
                            <span class="dog-name">Siberian Husky</span>
                        </div>
                        <div class="price" align="center">
                            <span>Price : </span> &#8377; 22000 /-
                        </div>
                        <div class="cart" align="center">
                            <button class="cart-2"><a href="#" class="cart-btn">ADD TO CART</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
                <div class="container item">
                    <div class="card">
                        <div class="img-dog">
                            <img class="card-img" src="../../assets/imgs/dog-9.jpg" alt="image">
                        </div>
                        <div class="card-title" align="center">
                            <span class="dog-name">Saint Bernard</span>
                        </div>
                        <div class="price" align="center">
                            <span>Price : </span> &#8377; 32000 /-
                        </div>
                        <div class="cart" align="center">
                            <button class="cart-2"><a href="#" class="cart-btn">ADD TO CART</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
                <div class="container item">
                    <div class="card">
                        <div class="img-dog">
                            <img class="card-img" src="../../assets/imgs/dog-10.jpg">
                        </div>
                        <div class="card-title" align="center">
                            <span class="dog-name">Akita Inu</span>
                        </div>
                        <div class="price" align="center">
                            <span>Price : </span> &#8377; 200000 /-
                        </div>
                        <div class="cart" align="center">
                            <button class="cart-2"><a href="#" class="cart-btn">ADD TO CART</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
                <div class="container item">
                    <div class="card">
                        <div class="img-dog">
                            <img class="card-img" src="../../assets/imgs/dog-11.jpg">
                        </div>
                        <div class="card-title" align="center">
                            <span class="dog-name">Bernese Mountain Dog</span>
                        </div>
                        <div class="price" align="center">
                            <span>Price : </span> &#8377; 95000 /-
                        </div>
                        <div class="cart" align="center">
                            <button class="cart-2"><a href="#" class="cart-btn">ADD TO CART</a></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
                <div class="container item">
                    <div class="card">
                        <div class="img-dog">
                            <img class="card-img" src="../../assets/imgs/dog-9.jpg" alt="image">
                        </div>
                        <div class="card-title" align="center">
                            <span class="dog-name">Saint Bernard</span>
                            <div class="price" align="center">
                                <span>Price : </span> &#8377; 20000 /-
                            </div>
                            <div class="cart" align="center">
                                <button class="cart-2"><a href="#" class="cart-btn">ADD TO CART</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
